<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h3>Larry Hines</h3>
Independent Data Science Consultant

<i>I am interested data science because it is a fast growing field that utilizes almost all of my previous career experience and I truly enjoy the work.  For Me personally, I believe that data science is the key to finally finding what I love to do.</i>

<h3>The following code declares a variable that contains the output of an arithmetic operation and then prints the result contained in the variable.</h3>

In [2]:
result = 4*4
print(result)

16

<table>
    <tr>
        <th width="150" style="text-align: center">Name</a></th>
        <th width="150" style="text-align: center">Age</th>
        <th width="150" style="text-align: center">Profession</th>
        <th width="150" style="text-align: center">Photo</th>
    </tr>
    <tr>
        <td style="text-align: center"><a href="https://www.fanpop.com/clubs/the-dukes-of-hazzard/images/30209167/title/uncle-jesse-duke-photo">Jessy Duke</a></td>
        <td style="text-align: center">75</td>
        <td style="text-align: center">Gambler</td>
        <td><img src="https://images5.fanpop.com/image/photos/30200000/Uncle-Jesse-Duke-the-dukes-of-hazzard-30209167-445-469.gif"></td>
    </tr>
    <tr>
        <td style="text-align: center"><a href="https://images2.fanpop.com/image/photos/10700000/out-n-about-the-dukes-of-hazzard-10731507-408-500.jpg">Daisy Duke</a></td>
        <td style="text-align: center">25</td>
        <td style="text-align: center">Server</td>
        <td style="text-align: center"><img src="https://images2.fanpop.com/image/photos/10700000/out-n-about-the-dukes-of-hazzard-10731507-408-500.jpg"></td>
    </tr>